/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*                     My Styles
--------------------------------------------------------*/

#field {
    /*    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin: 0 auto;
    height: 310px;
    width: 310px;*/
}

    #field div {
        /*     display: flex;
     flex-wrap: wrap;
     height: 100px;
     margin: 0 auto;
     padding: 0;

     justify-content: center;
     vertical-align: central;*/
    }

    #field > div > button {
        /*        width: 100px;
        height: 100px;
        margin: 2px;
        font-size: 2em;*/
    }

#row4 {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    vertical-align: central;
}

#inputForm {
    background-color: lightgray;
    padding: 0;
    display: flex;
    /*    flex-wrap: wrap;*/
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 150px;
}

.container2 {
}

.wrapper {
    background-color: whitesmoke;
    /*    display: flex;
   flex-direction: column;*/
    width: 450px;
    height: 450px;
    margin: 0 auto;
    /*    position: relative;*/
}

.cell {
    background-color: aliceblue;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    float: left;
    font-size: 80px;
    height: 148px;
    text-align: center;
    width: 148px;
}
.cell:hover{
    background-color: lightblue;
}

.wrapper .cell.victory {
    background-color: #e96e6e;
}


.pb-3 {
    margin: 0 auto;
    max-width: none;
    width: 95%;
    background-color: white;
}

.container {
    max-width: none;
    width: auto;
    background-color: whitesmoke;
}
